Repository EdwardKN/Monopoly-Remastered, pull requests merged in 2023-12, with the labels that each got.

#1 Sparning, animationer och övriga spelfunktioner
  README.md
  constants.js
  downscale.js
  game.js
  handwritten.ttf
  images/buttons/hostgame.png
  images/buttons/joingame.png
  images/favicon.ico
  images/menus/mainmenu.png
  images/static/insideboard.png
  images/texture.json
  images/texture.png
  index.html
  library.js
  prune.js
Labels: bug, enhancement, local

#3 Online
  README.md
  game.js
  index.html
  library.js
  online.js
Labels: bug, enhancement, online

#4 buggfixar
  game.js
Labels: bug

#5 buggfixar
  game.js
  online.js
Labels: bug, online, local
